body {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

.header-text {
	font-size: 16px;
}

.img-logo {
	max-width: 180px;
	max-height: 160px;
	width: 160px;
}

.img-responsive-list {
	height: 40%;
	/*max-height: 40%;*/
	width: 40%;
}
